# Node modules and build artifacts for React (frontend)
node_modules/
build/
dist/
*.log

# Vite specific
.vite/
*.env

# React specific
/.pnp/
/.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go build files
bin/
obj/

# Go modules
/go.sum
/go.mod

# Go testing
*.test.go
*.out

# IDE specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# React cache and logs
.cache/
*.log
